<div class="text-center">

<h1 class="display-4"> Dashboard </h1>

<h4 class="blockquote">There are <%= @products %>  <a href="/admin/products">products</a> and <%= @categories %> categories</h4>
</div>